<!doctype html>
<html ng-app="helloApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>lan party</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body ng-controller="PlaylistCtrl">
    <div class="container col-sm-12" id="mainContent">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Current video: {{playlist[0].title}}</h3>
        </div>
        <div class="panel-body">
          <input type="button" class="btn-small btn-primary" value="Skip Song" ng-click="skipSong()" width='100px'/>
          <input type="button" class="btn-small btn-primary" value="Pause Song" ng-click="pauseSong()" width='100px'/>
        </div>
      </div>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#currentPlaylistBody">
              Current song queue
            </a>
          </h3>
        </div>
        <div id="currentPlaylistBody" class='panel-collapse collapse in' style="max-height: 500px;overflow-y:scroll;">
          <div class="panel-body">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th class='col-sm-7'>Video title</th>
                  <th class='col-sm-2'>Length</th>
                  <th class='col-sm-1'>Options</th>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="song in playlist" ng-show="$index != 0">
                  <td><img src="{{song.thumbnails.default.url}}" width='40' height='33'>{{song.title}}</td>
                  <td>{{song.duration | convert_time | seconds_to_string}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn-small btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a ng-click="removeSong(song)">delete</a></li>
                        <li><a ng-click="bringToFront(song)">bring to front</a></li>
                        <li><a ng-click="pushToBack(song)">push to back</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <tbody>
            </table>
            <div ng-show="playlist.length == 1"><h3>Nothing queued!</h3></div>
            <h3>You can add more videos using the search bar below.</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default col-sm-12" id="search">
      <div class="panel-heading col-sm-12">
        <form class='form-inline col-sm-12'>
          <div class='form-group col-sm-9'>
            <input type="text" class="form-control" ng-model="queryStr" style='width:100%' placeholder="Search Youtube For Videos...">
          </div>
          <div class='pull-right col-sm-3'>
            <button type="submit" class="btn btn-primary" ng-click="search(queryStr)">Search</button>
            <button type="submit" class="btn btn-primary" data-toggle="collapse" href="#collapseSearch">Expand results</button>
          </div>
        </form>
       </div>
      <div id="collapseSearch" class="panel-collapse collapse col-sm-12" style="max-height: 50vh;overflow-y: scroll;">
        <div class="panel-body col-sm-12">
          <table class="table table-hover table-condensed col-sm-12">
              <thead>
                <tr>
                  <th class='col-sm-7'>Video title</th>
                  <th class='col-sm-2'>Channel</th>
                  <th class='col-sm-1'>Add to queue</th>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="song in searchResults">
                  <td><img src="{{song.thumbnails.default.url}}" width='40' height='33'>{{song.title}}</td>
                  <td>{{song.channelTitle}}</td>
                  <td><input type="button" class="btn-small btn-primary" value="Add to queue" ng-click="saveSong(song.id)"/></td>
                </tr>
              <tbody>
            </table>
            <a ng-click="loadMoreResults()">Load More Results...</a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
		<script src="/js/mainPage.js"></script>
  </body>
</html>