<!doctype html>
<html ng-app="helloApp">
  <head>
    <title>youtube party</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/youtubeiframeapi.min.js"></script>
    <script type="text/javascript" src="/js/mainPage.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-controller="PlaylistCtrl">

     <div class="container col-sm-12" id="mainContent">

      <div class="jumbotron" ng-show='!isController'>
        <h1>Time for a youtube party!</h1>
        <div ng-show='playlist.length > 0'>
          <div id="player"></div>
        </div>
        <div ng-show='playlist.length == 0'>
          <h2>Nothing to play... add some music at the bottom of the page to get started<h2>
        </div>
        <div class='panel panel-default' ng-show='address'>
          <div class='panel-heading'>
            <h3>
              <a role="button" data-toggle="collapse" data-target="#qrCodesPanel">
                Get your friends to scan the codes here to listen to the server or control it!
              </a>
            </h3>
          </div>
          <div id="qrCodesPanel" class='panel-body panel-collapse collapse in'>
            <div class='container col-sm-6'>
              <h3> use the code below to listen in.</h3>
              <div class='well white-well'>
                <img class="white-well" src='http://api.qrserver.com/v1/create-qr-code/?data={{address}}&size=220x220&margin=0' />
              </div>
            </div>
            <div class='container col-sm-6'>
              <h3> use the code below to control the music.</h3>
              <div class='well white-well'>
                <img class="white-well" src='http://api.qrserver.com/v1/create-qr-code/?data={{address}}client&size=220x220&margin=0' />
              </div>
            </div>
            <h4>alternatively you can connect to <a href='http://{{address}}'>'http://{{address}}'</a> to listen in, or <a href='http://{{address}}client'>'http://{{address}}client'</a> to control it!</h4>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 ng-show='playlist.length > 0'>
              Current video: {{playlist[0].title}}
            </h3>
            <h3 ng-show='playlist.length == 0'>
              Nothing to play yet...
            </h3>
            <span ng-show='!playerHere'>(BTW, there is no current players!)</span>
          </div>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary" ng-click="skipSong()" width='110px' id='skipSongButton' ng-show='playlist.length > 1'>
            Skip song
          </button>
          <button class="btn btn-primary" ng-click="pauseSong()" width='110px' id='pauseSongButton' ng-show='isController && playing && playlist.length > 0 && playerHere'>
            Pause song 
          </button>
          <button class="btn btn-primary" ng-click="playSong()" width='110px' id='playSongButton' ng-show='isController && !playing && playlist.length > 0 && playerHere'>
            Play song 
          </button>
          <button class="btn btn-primary" ng-click="removeSong(playlist[0])" width='110px' id='deleteSongButton' ng-show='playlist.length > 0'>
            Remove song
          </button>
        </div>
      </div>

      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#currentPlaylistBody">
              Current song queue
            </a>
          </h3>
        </div>
        <div id="currentPlaylistBody" class='panel-collapse collapse in' style="max-height: 500px;overflow-y:scroll;">
          <div class="panel-body">
            <table class="table table-hover table-condensed" ng-show="playlist.length > 1">
              <thead>
                <tr>
                  <th class='col-sm-7'>Video title</th>
                  <th class='col-sm-2'>Length</th>
                  <th class='col-sm-1'>Options</th>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="song in playlist" ng-show="$index != 0">
                  <td><img src="{{song.thumbnails.default.url}}" width='40' height='33'>{{song.title}}</td>
                  <td>{{song.duration | convert_time | seconds_to_string}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn-small btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a role="button" ng-click="playNow(song)">play now</a></li>
                        <li><a role="button" ng-click="bringToFront(song)">bring to front</a></li>
                        <li><a role="button" ng-click="pushToBack(song)">push to back</a></li>
                        <li><a role="button" ng-click="removeSong(song)">delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <tbody>
            </table>
            <div ng-show="playlist.length <= 1"><h4>Nothing queued!</h4></div>
            <p>You can add more videos using the search bar below.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default col-sm-12" id="search">
      <div class="panel-heading col-sm-12">
        <form class='form-inline col-sm-12'>
          <div class='form-group col-sm-8'>
            <input type="text" class="form-control" ng-model="queryStr" style='width:100%' placeholder="Search Youtube For Videos...">
          </div>
          <div class='pull-right col-sm-4'>
            <button type="submit" class="btn btn-primary" ng-click="search(queryStr)">Search</button>
            <button class="btn btn-primary" data-toggle="collapse" href="#collapseSearch" id='search-expand'>Expand</button>
          </div>
        </form>
       </div>
      <div id="collapseSearch" class="panel-collapse collapse col-sm-12" style="max-height: 50vh;overflow-y: scroll;">
        <div class="panel-body col-sm-12">
          <table class="table table-hover table-condensed col-sm-12">
              <thead>
                <tr>
                  <th class='col-sm-7'>Video title</th>
                  <th class='col-sm-2'>Channel</th>
                  <th class='col-sm-1'>Add to queue</th>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="song in searchResults">
                  <td><img src="{{song.thumbnails.default.url}}" width='40' height='33'>{{song.title}}</td>
                  <td>{{song.channelTitle}}</td>
                  <td><input type="button" class="btn-small btn-primary" value="Add to queue" ng-click="addSong(song.id)"/></td>
                </tr>
              <tbody>
            </table>
            <a ng-click="loadMoreResults()" ng-show='searchResults.length > 0'>Load More Results...</a>
        </div>
      </div>
    </div>
  </body>
</html>