body {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

iframe { 
	display: block; 
	margin: 0 auto; 
}

.dropDown {
  position:fixed !important;
  height: auto !important;
  overflow: visible !important;
}

.jumbotron {
  text-align: center;
}

.panel-heading button{
  width:100px;
  max-width:100px;
}

table > thead{
  border: 2px solid #dddddd;
  border-top-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}


table > tbody > tr {
  border: 1px solid #dddddd;
  border-top-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}

#search {
	position: fixed;
	margin-bottom: 0px;
  padding: 0px;
  bottom: 0;
  width: 100%; 
}

#mainContent{
	margin-bottom: 100px;
}

.panel-title a {
    text-align: center;
    width: 100%;
    display: block;
    outline: none;
}

.white-well {
  background: white;
  text-align: center;
}

#skipSongButton:after,
#playSongButton:after,
#pauseSongButton:after,
.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  float: right;
}

.panel-heading a:after{
  color: grey;
  content:"\e114";
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

#skipSongButton:after {
  content:"\e077";
}

#playSongButton:after {
  content:"\e072";
}

#pauseSongButton:after {
  content:"\e073";
}

.song, .placeholder {
  padding: 2px;
  width: 100px;
  height: 50px;
  border: 1px solid #333;
}